<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>

    <!-- icono de libro-->
    <link rel="icon" type="image/x-icon" href="/iconos/book.svg" />

    <!-- para usar bootstrap-->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">

    <!-- Para usar css -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- reloj -->
    <link href="css/reloj.css" rel="stylesheet">

    <!-- reloj -->
    <script src="js/reloj.js"></script>

</head>

<body onload="startTime()">

    <div class="container-lg bg-primary-subtle">
		
        <!-- navegador -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <!-- boton de inicio-->
                <a class="navbar-brand text-primary" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- hamburguesa -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- botones de curso y alumnos-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-primary"
                            aria-current="page" href="/cursos">Cursos</a></li>
                        <li class="nav-item"><a class="nav-link active text-primary"
                            aria-current="page" href="/alumnos">Alumnos</a></li>
                    </ul>

                    <!-- reloj -->
                    <div id="clockdate">
                        <div class="clockdate-wrapper">
                            <div id="clock"></div>
                          </div>
                    </div>

                    <!-- Buscador --> <!-- aca poner el nombre del buscador-->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" name="buscarTitulo" 
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>
        
        <!-- Titulo -->
        <h1 class="text-center text-primary bg-secondary-subtle p-1 m-1">Mantenimiento de Cursos</h1>

        <!-- Formulario para poder usar el guardado -->
        <form   class="bg-secondary-subtle formulario"
                th:object="${curso}" th:action="@{/saveCurso}" method="post">
                <!-- method="post" es mas seguro porque no queda en la url -->

                <div class="mb-3 row">

                    <!-- Titulo -->
                    <div class="mb-3 row">
                        <label for="titulo" class="col-sm-3 col-form-label text-primary">
                            Titulo
                        </label>
                        <div class="col-sm-9">
                            <input type="text"
                                class="form-control text-primary" id="titulo" name="titulo"
                                required minlength="3" maxlength="40" th:field="*{titulo}" >
                        </div>
                    </div>

                    <!-- Profesor -->
                    <div class="mb-3 row">
                        <label for="profesor" class="col-sm-3 col-form-label text-primary">
                            Profesor
                        </label>
                        <div class="col-sm-9">
                            <input type="text"
                                class="form-control text-primary" id="profesor" name="profesor"
                                required minlength="3" maxlength="40" th:field="*{profesor}" >
                        </div>
                    </div>

                    <!-- Dia -->
                    <div class="mb-3 row">
                        <label for="dia" class="col-sm-3 col-form-label text-primary">
                            Día
                        </label>
                        <div class="col-sm-9">
                            <select class="form-select text-primary" th:field="*{dia}"
                                aria-label="Default select example" id="dia" name="dia">
                                <!-- <option value="0">Seleccione Día</option> -->
                                <option value="LUNES">Lunes</option>
                                <option value="MARTES">Martes</option>
                                <option value="MIERCOLES">Miércoles</option>
                                <option value="JUEVES">Jueves</option>
                                <option value="VIERNES">Viernes</option>	
                            </select>
                        </div>
                    </div>

                    <!-- Turno -->
                    <div class="mb-3 row">
                        <label for="turno" class="col-sm-3 col-form-label text-primary">
                            Turno/Módulo
                        </label>
                        <div class="col-sm-9">
                            <select class="form-select text-primary" th:field="*{turno}"
                                aria-label="Default select example" id="turno" name="turno">
                                <!-- <option value="0" selected>Seleccione Turno</option> -->
                                <option value="MAÑANA">Mañana</option>
                                <option value="TARDE">Tarde</option>
                                <option value="NOCHE">Noche</option>
                            </select>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="mb-3 row">
                        <button type="reset" class="btn btn-danger col-sm-4 m-2">Borrar</button>
                        <button type="submit" class="btn btn-success col-sm-4 m-2">Guardar</button>
                    </div>

                    <!-- Informacion-->
                    <div class="mb-3 row">
                        <label for="informacion" class="col-sm-3 col-form-label text-primary">
                            Información
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control text-primary" 
                            id="informacion" name="informacion"
                            readonly th:value="${mensajeCurso}">
                        </div>
                    </div>

                    <!-- Tabla -->
                    <table class="table table-striped table-primary">
                        <thead>
                            <!-- Encabezado en negrita -->
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Título</th>
                                <th scope="col">Profesor</th> 
                                <th scope="col">Día</th>
                                <th scope="col">Turno</th>
                            </tr>
                        </thead>

                        <!-- Dispositivos cargados en la pagina -->
                        <tbody>
                            <tr th:each="curso: ${listaTitulo}"> <!-- aca poner el nombre del buscador-->
                                <th scope="row" th:text="${curso.id}"></th>
                                <td th:text="${curso.titulo}"></td>
                                <td th:text="${curso.profesor}"></td> 
                                <td th:text="${curso.dia}"></td>
                                <td th:text="${curso.turno}"></td>
                            </tr>
                        </tbody>
                    </table>




                </div>
        

        </form>




	</div>







    <!-- para poder usar bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

    <!-- para poder usar javascript 
    <script src="/js/config.js"></script>
    en realidad no me sirve, por ahora, porque es para la fecha hora ip etc
    -->
    

</body>
</html>